body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 450px;
    background: #fff;
    padding: 40px;
    margin: 80px auto;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.input {
    width: 100%;
    padding: 14px;
    margin-bottom: 18px;
    border-radius: 25px;
    border: 1px solid #000;
    background-color: #b9fdd7;
}

.btn-daftar {
    display: block;
    margin: auto;
    padding: 12px 40px;
    border-radius: 25px;
    background: #00c853;
    color: white;
    border: none;
    font-weight: bold;
}
