body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 450px;
    background: #fff;
    padding: 40px;
    margin: 100px auto;
    border-radius: 10px;
}

.input {
    width: 100%;
    padding: 14px;
    margin-bottom: 18px;
    border-radius: 25px;
    border: 1px solid #000;
    background-color: #b9fdd7;
    outline: none;
}

.forgot {
    text-align: right;
    margin-bottom: 25px;
}

.forgot a {
    text-decoration: none;
    font-size: 14px;
    color: #666;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 45%;
    padding: 12px 0;
    border-radius: 25px;
    background: #00c853;
    color: white;
    border: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
